@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");

:root {
  --color-primary: #00d0a1;
  --color-background: #f3f5fc;
  --color-gray-600: #959090;
  --color-gray-900: #070707;
  --border-radius: 8px;
  --primary-font-spartan: "League Spartan", sans-serif;
  --secondary-font-baskerville: "Libre Baskerville", serif;
  font-size: 12px;
}

body {
  background-color: var(--color-background);
  font-family: var(--secondary-font-baskerville);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--primary-font-spartan);
  margin: 0;
}

#app {
  padding: 25px;
  max-width: 1100px;
  margin: 0 auto;
}

#header-container {
  max-width: 1100px;
  padding-bottom: 50px;
  margin: 0 auto;
}

#contacts-container {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: minmax(min-content, auto);
}

.green-background {
  background-color: var(--color-primary);
}

.white-text {
  color: #fff;
}

.card-padding-top {
  padding-top: 45px;
}

.contact-card {
  border-radius: var(--border-radius);
  align-self: start;
}

.contact-card__icon-container {
  gap: 2rem;
  margin-top: 24px;
}

.contact-card__icon {
  background-color: var(--color-primary);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius);
  height: 32px;
  width: 32px;
}

@media (min-width: 740px) and (max-width: 870px) {
  #contacts-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 870px) {
  #contacts-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1100px) {
  #contacts-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
